.cart{ 
    padding:0.1% 1.2%;
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    align-items: center;
    background: rgb(163, 243, 117);
    font-size: 1.5em;
    font-family: sans-serif;
}
.iconCart{
width: 6vh;
margin-right: 0.2em;
}